.navbar{
    list-style: none;
    background-image: linear-gradient(to bottom right, lightslategray, darkslategray);
    width: 150px;
    overflow: hidden;
    padding: 0;
}
.navbar a, .dropdown div{
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 16px;
    display: inline-block;
}
.navbar div{
    width: 150px;
}
.navbar li:hover{
    background-color: slategray;
}
.dropdown-content{
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(to bottom right, lightslategray, darkslategray);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.active{
    background-image: linear-gradient(to right, gray, dimgray)
}

.header{
    
}