html, body{
    height: 100%;
}

body{
    background-image: linear-gradient(to bottom, yellow, orangered 50%);
}

.navbar{
    list-style: none;
    background-image: linear-gradient(to bottom right, lightslategray, darkslategray);
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.navbar a, .dropdown div{
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 16px;
    display: inline-block;
    float: left;
}
.navbar li:hover{
    background-color: slategray;
}
.dropdown-content{
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(to bottom right, lightslategray, darkslategray);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.active{
    background-image: linear-gradient(to right, gray, dimgray)
}

.header{
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 64px;
    margin-top: 0;
}